.star-rating {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
  reviews{
  letter-spacing: 3px;
  }

}
.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
  letter-spacing: 3px;
}
.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
  -webkit-text-stroke: 1px gray;
}