.shopping-cart {
  height: 11vh;
  .size-quantity {
    position: relative;
    .size {
      position: absolute;
      width:50%;
      height:3.2vh;
      background: white;
      z-index: 9;
      .display-selected {
        font-size: 1.5vh;
        height: 3vh;
        padding: 0.5vh;
        width: 100%;
        justify-content: center;
        display: flex;
        border: solid 0.1vh;
        background: white;
        border-left: solid;
        border-right: solid;
        border-top: solid;
      }
      .size-option {
        font-size: 1.5vh;
        padding: 0.5vh;
        height: 3vh;
        width: 100%;
        justify-content: center;
        display: flex;
        border: solid 0.1vh;
        background: white;
        border-left: solid;
        border-right: solid;
        border-bottom: solid;
      }
    }
    .quantity {
      position: absolute;
      left: 55%;
      width: 20%;
      height: 3.2vh;
    }
  }
  .add-to-cart {
    position: relative;
    top: 4vh;
    height: 3.2vh;
    width: 100%;
  }
}

/* CSS */
.add-to-bag-button, .favorite{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  :hover{
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  :disabled{
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  :active{
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  :focus{
    outline: 1px transparent;
  }
  :before{
    display:none;
  }
  :-webkit-details-marker{
    display:none;
  }
}

